In [1]:
s1 = " string hello world"
s2 = "i dom't like it"
s3 = """hi select one option"
1.cms to fit
2.km in miles
3.usd to inr
4.exit
"""

s4=str(4)
print(s4)
type(s4)

4

str

# Positive (+) indexing -----Starts with 0 from Left to Right

In [4]:
str1= "Hello World"
str1[0]

'H'

# Negative (-) indexing --------Starts with -1 from right to left

In [ ]:
str[10]

# Slicing

In [12]:
str2= "My name is Chetan"
str2[11:17:2]

str3="Hello World"
str3[0:]
str3[::-1]
str3[-11:-6]

'Hello'

# Operation On String

## Arithmetic Operation +,-,*,/ Logical Operation <,>,=,!=

In [18]:
# arithmetic operator
print("Delhi" + "Mumbai")
print("A"*40)
print("*"*30)

DelhiMumbai
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
******************************

In [22]:
s= "Hello World"
print(len(s))
print(max(s))
print(min(s))
print(sorted(s))

11
r

[' ', 'H', 'W', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r']

In [26]:
# captialize, title, upper, lower, swapcase

s="heLLo woRlD"
print(s.capitalize())
print(s.title())
print(s.upper())
print(s.lower())
print(s.swapcase())

Hello world
Hello World
HELLO WORLD
hello world
HEllO WOrLd

In [28]:
#count, find,index

s= "hello world "

print(s.count("1"))
print(s.count("0"))
print(s.count("w"))

0
0
1

In [30]:
# startswith, endswith

s="hello world"

s.startswith("0")
s.endswith("d")

True

In [34]:
#isalnum ,isalpha , isdigit , isidentifer

"ABC123".isalnum()

"hello".isalpha()

"123456789".isdigit()

"2num".isidentifer()

AttributeError: 'str' object has no attribute 'isidentifer'

In [36]:
#Split , join

"My name is Radhika".split()

['My', 'name', 'is', 'Radhika']

In [38]:
" ".join (['My','Name','is','Radhika'])

'My Name is Radhika'

In [40]:
#replace

"My Name is Radhika".replace("Radhika","Janhavi")

'My Name is Janhavi'

In [42]:
# strip

"Radhika            ".strip()

'Radhika'

In [44]:
"         Radhika".lstrip()

'Radhika'

In [46]:
s = "Time is money"
print (len(s))
print (max(s))
print (min(s))
print (sorted(s))

13
y

[' ', ' ', 'T', 'e', 'e', 'i', 'i', 'm', 'm', 'n', 'o', 's', 'y']

In [3]:
s = "sharing is caring"
print(s.capitalize())
print(s.title())
print(s.upper())
print(s.lower())
print(s.swapcase())

Sharing is caring
Sharing Is Caring
SHARING IS CARING
sharing is caring
SHARING IS CARING

In [5]:
s= "And Them There where none"

print(s.count("h"))
print(s.find("e"))
print(s.index("n"))

3
6
1

In [7]:
s="AAtale of two cities"

s.startswith("0")
s.endswith("d")
s.startswith("A")
s.endswith("es")

True