# CREATING A TUPPLE

In [10]:
#empty tupple

t0 = ()
type(t0)

tuple

In [8]:
t1 = ("string",)
type(t1)

tuple

In [12]:
#homo
t2 = (1,2,3,4,5,6)
type(t2)

tuple

In [20]:
#hetro
t3 = ("string",1,5.0,True,(1,2,3),[1,2,3])
type(t3)

tuple

In [22]:
#type conversion
t4 = tuple("hello")
t4

('h', 'e', 'l', 'l', 'o')

# ACCESSING THE ELEMENTS FROM TUPLE

In [25]:
#index
#slicing

t2 = (1,2,3,4,5,6)
t2[-2]

t3 = ("string",1,5.0,True,(1,2,3),[1,2,3])
t3[-1][1]

2

In [27]:
t2 = (1,2,3,4,5,6)
t2[-2]

t3 = ("string",1,5.0,True,(1,2,3),[1,2,3])
t3[-1]

[1, 2, 3]

In [29]:
t2 = (1,2,3,4,5,6)
t2[-2]

t3 = ("string",1,5.0,True,(1,2,3),[1,2,3])
t3[-1][:]

[1, 2, 3]

In [31]:
t2 = (1,2,3,4,5,6)
t2[-2]

t3 = ("string",1,5.0,True,(1,2,3),[1,2,3])
t3[-1][:2]
t3[1:]

(1, 5.0, True, (1, 2, 3), [1, 2, 3])

# EDITING ELMENTS FROM TUPPLE

In [46]:
print(t3)
t3[1] = 100

('string', 1, 5.0, True, (1, 2, 3), [1, 2, 3])

TypeError: 'tuple' object does not support item assignment

In [57]:
str1 = "hello world"
print(id(str1))
print(id(str1.upper()))

3043901812272
3043901813168

In [53]:
str1

'hello world'

In [61]:
t3  # we cannot add elements tupple

('string', 1, 5.0, True, (1, 2, 3), [1, 2, 3])

In [63]:
#delet
t3

('string', 1, 5.0, True, (1, 2, 3), [1, 2, 3])

# OPERATIONS ON TUPPLE
1. Arthematical Operation
2. Membership operation

In [74]:
t1 = (1,2,3)
t2 = (4,5,6)

print(t1 + t2)
print(t1 * 3)

1 not in t1

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

False

In [76]:
# loop 
for i in t1:
    print(i)

1
2
3

# TUPPLE FUNCTIONS
1. LEN
2. MIN
3. MAX
4. SORTED

In [86]:
t1 = (1,2,3,4,5,6,7,8,9)
print(len(t1))
print(min(t1))
print(max(t1))
print(sorted(t1))

9
1
9
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
t1 = (1,2,3,4,5,6,7,8,9)
print(len(t1))
print(min(t1))
print(max(t1))
print(sorted(t1,reverse=True))

9
1
9
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [94]:
# count

t1.count(50)

0

In [92]:
# index
t1.index(5)

4

# SYNTAX

In [97]:
# list []
# tupple()
# mutability 
# speed
# memory

In [108]:
import time 

L = list(range(10000000))
T = tuple(range(10000000))

start = time.time()
for i in L:
    i*5
print("List Time",time.time()-start)

start = time.time()
for i in T:
    i*5
print("Tuple Time",time.time()-start)

List Time 1.3454720973968506
Tuple Time 1.2449085712432861

In [114]:
import sys

L = list(range(10000000))
T = tuple(range(10000000))

print("List size",sys.getsizeof(L))
print("Tuple size",sys.getsizeof(T))

List size 80000056
Tuple size 80000040

# ZIP FUNCTION

In [119]:
t1 = (1,2,3)
t2 = (4,5,6)

tuple(zip(t1,t2))

((1, 4), (2, 5), (3, 6))

# SET

### Set is a unordered collection of elements,Every set elements is unique (no duplicated )and must be immutable(can not be changed )

#### Characteristic
1. Unordered 
2. Mutable
3. No Duplicates
4. Can't contain mutable data types

In [132]:
#unordered

[1,2,3] == [2,3,1]
(1,2,3) == (2,3,1)

False

In [134]:
#no duplicates

{1,1,1,2,3,4,3,2,5,6,1}

{1, 2, 3, 4, 5, 6}

In [140]:
#Can't contain mutable data types

{1,2,3,{1,2,3}}

TypeError: unhashable type: 'set'

In [138]:
#mutable

{1,2,3,(1,2,3)}

{(1, 2, 3), 1, 2, 3}

## CREATING SET

In [145]:
#empty 
s = set()
type(s)

set

In [153]:
# 1D set homo
s1 = {1,2,3,4}
type(s1)
print(s1)

{1, 2, 3, 4}

In [155]:
# hetro set 
s2 = {1,2,3,(12,3),"string"}
print(s2)
type(s2)

{1, 2, 'string', 3, (12, 3)}

set

In [159]:
# using type conversion

s3 = set ([1,2,3])
print(s3)
type(s3)

{1, 2, 3}

set

# ACCESSING ELEMENTS FROM SET

### indexing has no value set

In [165]:
s1 = {1,2,3,4,5}
s1[-1]

TypeError: 'set' object is not subscriptable

# EDITING SET

In [6]:
s1 = {1,2,3,4,5}
s1[-1] = 50

TypeError: 'set' object is not subscriptable

In [170]:
# adding elements in set 

s = {1,2,3,4,5}

s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [172]:
# adding multiple elements 

s.update ([7,8,9,10])
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [182]:
# deleting elements from set 
s = {1,2,3,4,5}
#del s[-1]
#del s

In [176]:
#discard
s.discard(5)
s

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [180]:
#remove 
#s.remove(5)
s

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [184]:
#pop 
s.pop()
s

{2, 3, 4, 5}

In [186]:
#clear
s.clear()
s

set()

# SET OPERATIONS 
1.UNION
2.INTERSECTION
3.DIFFERENCE 
4.SYMMETRIC DIFFERENCE

In [189]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

#union
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [191]:
#intersection
s1 & s2

{4, 5}

In [197]:
# difference
s1 - s2
s2 - s1

{6, 7, 8}

In [199]:
# symmectric difference 
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [241]:
# membership
12 not in s1

#Loop
for i in s1:
      print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [211]:
#function on set 
# len ,min,max,sorted
s1 = {1,3,5,6,7,8,4,2}
print(len(s1))
print(min(s1))
print(max(s1))
print(sorted(s1,reverse=True))

8
1
8
[8, 7, 6, 5, 4, 3, 2, 1]

In [217]:
# union
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 | s2
s1.union(s2)

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [227]:
# intersection 
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 & s2
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [233]:
# difference 
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 - s2
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [245]:
# symmetric difference 
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 ^ s2
s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)                               
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [243]:
# isdisjoint/issubset/issuperset

s1 = {1,2,3,4}
s2 = {5,6,7,8}

s1.isdisjoint(s2)

True

In [249]:
s1 = {1,2,3,4,5,6,7,8,9}
s2 = {5,6,7,8}

s2.issubset(s1)
s1.issuperset(s2)

True

# Frozone set 

Frozone is just immutable version of Python set

In [266]:
s1 = frozenset([1,2,3,4,])
print(s1)
type(s1)

frozenset({1, 2, 3, 4})

frozenset

In [268]:
set1 = {1,2,3,frozenset([1,2,3])}
set1

{1, 2, 3, frozenset({1, 2, 3})}